body{
    margin: 0%;
    padding: 0%;
}

.container{
    text-align: center;
    margin-top: 360px;
}

/*IMPORTANT: notice that the class names are actually 'btn btn1'..*/
.btn{
    border: 1px solid #3498db;
    background: none;
    padding: 15px 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    /*font-weight: bold;*/
    /*this will convert arrow into pointer when you hover on the button*/
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    border-radius:5px;
    border-width: 1.3px;
    box-shadow: 3px 3px 5px 1px #cccccc;
}

.btn1,.btn2{
    color: #3498db;
}

.btn3,.btn4{
    color: #fff;
}

.btn1:hover,.btn2:hover{
    color: #fff
}

.btn3:hover,.btn4:hover{
    color: #3498db;
}

.btn::before{
    content: "";
    position: absolute;
    left: 0%;
    width: 100%;
    height: 0%;
    background: #3498db;
    /*z-index gives stack order. So the will be in bacground and the text will be in front because of higher stack order*/
    z-index: -1;
    transition:0.8s;
}

.btn1::before,.btn2::before{
    top:0;
    border-radius: 0 0 50% 50%;
}

.btn3::before,.btn4::before{
    bottom:0;
    border-radius: 50% 50% 0 0;
}

.btn3::before,.btn4::before{
    height: 180%;
}

.btn1:hover::before,.btn2:hover::before{
    height: 180%;
}

.btn3:hover::before,.btn4:hover::before{
    height: 0%;
}



